/* --------- Login ---------- */

.login-main-container {
    background-color: var(--bg-secondary);
    height: 93.5vh;
}

.login-sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 100%;
}

.banner-grp>img {
    width: 300px;
}

.banner-grp>h2 {
    font-size: 2.4rem;
    line-height: 1.35;
    font-weight: normal;
    width: 400px;
}

.form-grp {
    background-color: var(--bg-primary);
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 16px;
    padding-bottom: 24px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.formik-form-grp {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.forgot-password {
    font-size: 1.4rem;
    color: var(--blue-color);
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-btn {
    background-color: var(--blue-color);
    padding: 14px 16px;
    border-radius: 6px;
    color: var(--text-light);
    font-size: 1.9rem;
    font-weight: bold;
    transition: all .2s ease;
}

.login-btn:hover {
    background-color: #166fe5;
}

.create-account-btn {
    background-color: var(--green-color);
    font-size: 1.7rem;
    border-radius: 6px;
    padding: 14px 16px;
    color: var(--text-light);
    font-weight: bold;
    transition: all .2s ease;
}

.create-account-btn:hover {
    background-color: #36a420;
}

.create-account-btn:active {
    background-color: #2b9217;
    border-color: #2b9217;
    transform: scale(0.97);
}

.divider {
    border: 1px solid var(--bg-third);
}

.create-page-container {
    margin-top: 25px;
    font-size: 1.4rem;
}

/* --------- Login ---------- */

/* ----------- Sign Up --------------- */

.signup-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--bg-primary);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    color: var(--color-primary);
    max-height: 90vh;
    overflow-y: auto;
    min-width: 300px;
}

.signup-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding: 1.6rem;
}

.signup-header>h2 {
    font-size: 3.2rem;
}

.signup-header>p {
    font-size: 1.5rem;
    color: var(--color-secondary);
}

.signup-header>i {
    cursor: pointer;
    position: absolute;
    top: 20%;
    right: 4%;
}

.signup-form-wrapper {
    padding: 1.6rem;
}

.form-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-input-wrapper>.user-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.user-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

}

.user-info-header {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.2rem;
    color: var(--color-secondary);
    margin-top: 10px;
    margin-bottom: 3px;
}

.user-date-grid,
.user-gender-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    width: 100%;
    height: 36px;
}

.user-date-grid>select {
    font-size: 1.5rem;
    color: var(--color-primary);
    background-color: var(--bg-primary);
    border-radius: 4px;
    cursor: pointer;
    padding: 0 8px;
    border: 1px solid var(--login-footer-square-border);
    outline: none;
}

.user-date-grid>select:focus {
    outline: 1px solid var(--blue-color);
}

.user-gender-grid>label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    border: 1px solid var(--login-footer-square-border);
    padding: 0 8px;
    border-radius: 4px;
}

.terms-condition-info {
    font-size: 1.1rem;
    color: var(--color-secondary);
    text-align: left;
    line-height: 1.4;
    margin-bottom: 10px;
    margin-top: 3px;
}

.terms-condition-info>span {
    cursor: pointer;
    color: var(--blue-color);
}

.terms-condition-info>span:hover {
    text-decoration: underline;
}

.signup-btn-wrapper {
    width: 100%;
}

.signup-btn-wrapper>button {
    width: 50%;
}

.toggle-password-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

.toggle-password-wrapper>label {
    font-size: 1.3rem;
    color: var(--color-secondary);
    cursor: pointer;
}

.toggle-password-wrapper>input[type="checkbox"] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

.toggle-password-wrapper>input[type="checkbox"]:focus {
    outline: 1px solid var(--blue-color);
}

/* ----------- Sign Up --------------- */


/*----------- Footer Styles ----------- */

.login-footer {
    padding: 1.5rem;
    width: 100%;
    background-color: var(--bg-primary);
    height: calc(100vh - 93.5vh);
}

.login-footer-wrap {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    max-width: 320px;
    margin: 0 auto;
    font-size: 1.3rem;
    color: var(--color-secondary);
}

.login-footer-wrap>a {
    display: flex;
    align-items: center;
}

.login-footer-wrap>a:hover {
    text-decoration: underline;
}

.footer_square {
    background-color: var(--bg-secondary);
    height: 19px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--login-footer-square-border);
}

.footer_square i:hover {
    filter: invert(50%);
    -webkit-filter: invert(50%);
}

.footer_square i {
    transform: scale(0.9);
}

.footer-divider {
    margin: 10px auto;
    max-width: 1000px;
}

/*----------- Media Queries ----------*/

@media (max-width: 539px) {
    .form-input-wrapper>.user-row.name-grp {
        gap: 25px;
    }
}

@media (max-width: 390px) {
    .banner-grp>h2 {
        font-size: 2rem;
        width: 320px;
    }
}


@media (min-width: 539px) {
    .login-footer-wrap {
        max-width: 1000px;
    }

    .signup-form {
        max-width: 500px;
    }

    .signup-form-wrapper>.form-input-wrapper>.name-grp {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }

}

@media(max-width: 850px) {
    .login-main-container {
        height: auto;
    }

    .login-footer {
        height: auto;
    }
}

@media(min-width: 850px) {
    .login-sub-container {
        flex-direction: row;
        max-width: 1000px;
        margin: 0 auto;
    }

    .banner-grp {
        text-align: left;
        width: auto;
        padding-right: 40px;
        margin-top: -70px;
    }

    .banner-grp>img {
        margin-left: -30px;
    }

}

@media (min-width: 1077px) {
    .banner-grp>h2 {
        font-size: 2.8rem;
        width: 100%;
    }
}

/*----------- Media Queries ----------*/