.header {
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 56px;
    box-shadow: var(--header-box-shadow);
    background-color: var(--bg-primary);
    width: 100%;
    z-index: 99;
    color: var(--color-primary);
    border-bottom: 1px solid var(--divider);
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    padding: 5px 1.55rem;
    width: fit-content;
    transition: all .3s ease;
    background-color: var(--bg-primary);
    z-index: 10;
}

.header-left.search-menu-inactive::before {
    transition: opacity .3s ease;
    opacity: 0;
}

.header-left.search-menu-active::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 12px 12px var(--shadow-1), inset 0 0 0 0 var(--shadow-inset);
    opacity: 1;
    transition: all .1s linear;
}

.circle-icon {
    position: relative;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-icon.return-btn {
    height: 34px;
    width: 34px;
    opacity: 0;
    visibility: hidden;
    user-select: none;
    transform: translateX(18px);
    transition: all .3s linear;
    background-color: transparent;
    z-index: -1;
}

.circle-icon.return-btn.active {
    z-index: 1;
    visibility: visible;
    opacity: 1;
    user-select: auto;
    transform: translateX(0);
}

.search-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: margin .1s linear;
}

.search-wrap.hidden {
    visibility: hidden;
    opacity: 0;
    user-select: none;
    z-index: -1;
    margin-left: -14px;
}

.search {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--bg-fourth);
    padding: 10px 32px 10px 10px;
    border-radius: 50px;
    cursor: text;
    z-index: 1;
}

.search.menu-open {
    margin-left: -34px;
}

.search input {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.4rem;
    font-family: inherit;
    width: 200px;

}

.search input::placeholder {
    transform: translateY(-1px);
}

.header-middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-middle-icon {
    position: relative;
    width: 125px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transform: translateX(-2px);
}

.header-middle-icon:nth-child(2) {
    transform: translateX(-2px);
}

.header-middle-icon:nth-child(3) {
    transform: translateX(-4px);
}

.header-middle-icon:nth-child(2) {
    transform: translateX(-5px);
}

.header-middle-icon:nth-child(2) {
    transform: translateX(-5px);
}

.header-middle-icon.active {
    border-bottom: 3px solid var(--blue-color);
    border-radius: 0;
    transform: translateY(3px);
}

.header-middle-notifications {
    position: absolute;
    top: 3px;
    right: 25%;
    background-color: #e41e3f;
    color: var(--bg-primary);
    border-radius: 20px;
    padding: 1px 5px;
    font-size: 1.2rem;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 5px 1.55rem;
    gap: 8px;
}

.header-profile {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.header-profile img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.header-right>.circle-icon {
    background-color: var(--bg-third);
}

.header-right-notification {
    position: absolute;
    top: -4px;
    right: -3px;
    background-color: #e41e3f;
    font-size: 1.2rem;
    background-color: #e41e3f;
    color: var(--bg-primary);
    border-radius: 20px;
    padding: 1px 5px;
}

/*---------- Search menu ---------*/

.search-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--bg-primary);
    position: absolute;
    top: 100%;
    left: 0;
    box-shadow: 0 12px 12px var(--shadow-1), inset 0 0 0 0 var(--shadow-inset);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px;
}

.search-history-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
}

.search-history-header>h4 {
    color: var(--primary-text);
    font-weight: 600;
    font-size: 1.6rem;
    letter-spacing: 0.2px;
}

.search-history-header>.search-edit {
    color: var(--blue-color);
    padding: 8px 5px;
}