:root {
  font-family: sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: dark light; */
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bg-primary: #fff;
  --bg-secondary: #f0f2f5;
  --bg-third: #e4e6eb;
  --bg-fourth: #f0f2f5;
  --color-primary: #050505;
  --color-secondary: #65676b;
  --divider: #ced0d4;
  --dark-bg-primary: #18191a;
  --dark-bg-secondary: #242526;
  --dark-bg-third: #3a3b3c;
  --dark-color-primary: #242526;
  --dark-color-secondary: #b0b3b8;
  --blue-color: #1876f2;
  --blue-color-dark: #166fe5;
  --green-color: #42b72a;
  --gree-color: #36a420;
  --light-blue-color: #e7f3ff;
  --border-color: #ccced2;
  --shadow-1: rgba(0, 0, 0, 0.2);
  --shadow-2: rgba(0, 0, 0, 0.1);
  --shadow-3: rgba(0, 0, 0, 0.3);
  --shadow-inset: rgba(255, 255, 255, 0.5);
  --primary-text: #050505;
  --placeholder-color: #1d2129;
  --text-light: #fff;
  --text-dark: #050505;
  --error-bg: #b94a48;
  --login-footer-square-border: #ccd0d5;
  --box-shadow: 0 2px 4px rgb(0 0 0 / 10%),
    0 8px 16px rgb(0 0 0 / 10%);
  --header-box-shadow: 1px 8px 15px -7px var(--shadow-2);
  --backdrop-filter: rgba(255, 255, 255, 0.7);
  --hover1: #d4d4d4;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  font-size: 1.6rem;
  color: var(--color-primary);

}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
}

.backdrop-filter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: var(--backdrop-filter);
  overflow-y: auto;
}

.hover1 {
  transition: background .2s ease-out;
}

.hover1:hover {
  background-color: var(--hover1);
}

.hover2 {
  transition: background .2s ease-out;
}

.hover2:hover {
  background-color: var(--bg-third);
}

/* @media (prefers-color-scheme: dark) {
  body {
    background-color: #242424;
    color: var(--bg-primary);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--bg-primary);
    color: var(--color-primary);
  }
} */